
<!-- Modal -->
<div class="modal fade modal-dialog modal-dialog-centered" #messageModal tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">{{ modalTitle }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close();"></button>
      </div>
      <div class="modal-body">
        {{modalContent}}
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

